body {
    font-family: $font-primary;
    font-size: $font-size-normal;
}

.h1 {
    font-size: $font-h1;
}

.h2 {
    font-size: $font-h2;
}

.h3 {
    font-size: $font-h3;
}

.h4 {
    font-size: $font-h4;
}

.h5 {
    font-size: $font-h5;
}

.h6 {
    font-size: $font-h6;
}
