// Color
$color-primary		:#0D47A1;
$color-secondly		:#2196F3;
$color-error		:#D50000;

// Font Type
$font-primary		:$font-type1;

// Font Size
$font-size-small	:11px;
$font-size-normal	:14px;
$font-size-big		:24px;

$font-h1			:36px;
$font-h2			:30px;
$font-h3			:24px;
$font-h4			:18px;
$font-h5			:18px;
$font-h6			:18px;


