nav.navbar.navbar-primary.navbar-default
	.container
		div.navbar-header
			button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#nav-primary" aria-expanded="false")
				span.sr-only Toggle navigation
				spna.icon-bar
				spna.icon-bar
				spna.icon-bar
				spna.icon-bar
			a.navbar-brand(href="index.html") Brand
		div.collapse.navbar-collapse(id="nav-primary")
			ul.nav.navbar-nav.navbar-left
				li
					a.active(href="index.html") หน้าแรก
				li.dropdown
					a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") 
						| เกี่ยวกับเรา 
						span.caret
					ul.dropdown-menu
						li
							a(href="tour-all.html") ประวัติ และความเป็นมา
						li
							a(href="tour-small.html") วิสัยทัศน์ และพัธกิจ
						li
							a(href="tour-custom.html") คณะทำงาน
				li
					a(href="blog.html") บทความ
				li
					a(href="single-article.html") รายละเอียดบทความ
				li
					a(href="news.html") ข่าวสาร และกิจกรรม
				li
					a(href="single-news.html") รายละเอียดข่าวสาร และกิจกรรม

				li
					a(href="contact.html") ติดต่อเรา
			ul.nav.nav-bar.navbar-right.search
				li
					a(href="#" data-toggle="modal" data-target="#search-content")
						i.fa.fa-search(aria-hidden="true")
						